<h2 class='text-center pt-5'> Partage tes Mangas</h2>
<h4 class='text-center'> Trouve les mangas que tu souhaites partager et constitue ta bibliothèque pour les autres utilisateurs </h4>
<%= render "shared/searchbar" %>

<%= render 'mangaCard2'%>
