
<div class="container-fluid" id="fond"><br>
  <h1 class="text-center"> Découvrez Kasu</h1>
    <h1 class="text-center">Echangez vos Mangas contre des Kasu Points !</h1>
      <div class="text-center">
        <h3 class="text-center">Bienvenue dans la communauté de passionnés de manga.</h3>
        <h3>Grâce à Kasu vous pourrez dévorer tout les mangas que vous voulez à moindre coût et échanger votre passion avec notre communauté</h3>
        <h3>Le bon plan pour lire moins cher toute l'année !</h3>
        <h3>Facile et économique.</h3>
      </div><br>
        <h2 class="text-center mb-4">Comment ça fonctionne ?</h2> 
      <div class="container">
        <div class="row">
          <div class="text-center col-sm">
            <%= image_tag 'achete.png', class:"icon-explication icon1 mb-4"%>
            <h3> Partage /Échange</h3>
            <p>Rentres ton manga dans la  bibliothèque du site une personne est intéressée par ton manga qui se trouve dans sa whishlist (ou liste de souhait).Il prend contact avec toi via la messagerie du site. Vous convenez soit d'un envoi, soit d'un échange direct dans ta ville ou région.</p>
          </div>
          <div class="text-center col-sm">
            <%= image_tag 'recois.png', class:"icon-explication icon1 mb-4"%>
            <h3>Reçois</h3>
            <p>Quand tu échanges un livre, tu reçois un Kasu point qui te permettra à ton tour d’acquérir un nouveau manga ensuite si tu le désires, soit tu gardes ce manga, soit tu le rentres dans la bibliothèque.</p>
          </div>
          <div class="text-center col-sm">
            <%= image_tag 'echange.png', class:"icon-explication icon1 mb-4"%>
            <h3>Choisis</h3>
            <p>J'indique les livres que je possède en entrant simplement les mangas dans la bibliothèque ou en cliquant sur le bouton "ajouter un manga". Lorsqu'un membre souhaite un de mes livres, je lui expédie et je gagne 1 kasu Point par livre. Avec celui-ci je commande les livres que je désire.</p>
          </div>
        </div>
        <h2 class="mb-5">Inscrivez-vous gratuitement, les 100 premiers inscrits recevront 1 Kasu Point</h2>
  </div>
</div>




