
<h2 class='text-center pt-5'> Trouve le Manga de tes rêves </h2>
<h4 class='text-center'> Sélectionne les Mangas disponibles à l'échange et fais ta demande auprès des possesseurs </h4>
<%= render "shared/libsearchbar" %>
<%= render 'libraryItemsCard'%>